# Anova with Python

In [1]:
a=[4,3,2]

In [2]:
b=[2,4,6]

In [3]:
c=[2,1,3]

In [4]:
from scipy import stats

In [5]:
stats.f_oneway(a,b,c)

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

# Pd.melt allows one to "unpivot" data from  a wide format into a long format data with each row representing a data point.

In [9]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [11]:
data=pd.read_excel('one way.xlsx')

In [12]:
data

   Teaching Method 1  Teaching Method 2  Teaching Method 3
0                  4                  2                  2
1                  3                  4                  1
2                  2                  6                  3

In [14]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['Teaching Method 1','Teaching Method 2','Teaching Method 3'])
data_new.columns=['index','Treatments','value']
data_new

   index         Treatments  value
0      0  Teaching Method 1      4
1      1  Teaching Method 1      3
2      2  Teaching Method 1      2
3      0  Teaching Method 2      2
4      1  Teaching Method 2      4
5      2  Teaching Method 2      6
6      0  Teaching Method 3      2
7      1  Teaching Method 3      1
8      2  Teaching Method 3      3

In [15]:
model=ols('value~C(Treatments)',data=data_new).fit()

In [16]:
anova_table=sm.stats.anova_lm(model,type=1)

In [17]:
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN

# ANOVA  can be used to test for quality of 3 or more population means

# We want to use the sample results to test the following hypothesis:
# H0: mu1=mu2=mu3=....=muk
# Ha: Not all population means are equal