In [1]:
import pandas as pd
df=pd.read_excel('Log_Reg.xlsx')
df

   Customer  Spending  Card  Coupon
0         1     2.291     1       0
1         2     3.215     1       0
2         3     2.135     1       0
3         4     3.924     0       0
4         5     2.528     1       0
5         6     2.473     0       1
6         7     2.384     0       0
7         8     7.076     0       0
8         9     1.182     1       1
9        10     3.345     0       0

In [4]:
x=df[['Card','Spending']]
y=df['Coupon']
import statsmodels.api as sm
x1=sm.add_constant(x)
logit_model=sm.Logit(y,x1)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.180494
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Coupon   No. Observations:                   10
Model:                          Logit   Df Residuals:                        7
Method:                           MLE   Df Model:                            2
Date:                Tue, 07 Jan 2020   Pseudo R-squ.:                  0.6393
Time:                        14:22:26   Log-Likelihood:                -1.8049
converged:                       True   LL-Null:                       -5.0040
Covariance Type:            nonrobust   LLR p-value:                   0.04080
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         16.1552     14.770      1.094      0.274     -12.794      45.104
Card          -5.3085      5.716     -0.929      0.353     -16.511       5.894
Spending      -6.6543      6.043     -1.101      0.271     -18.498       5.190
==============================================================================

Possibly complete quasi-separation: A fraction 0.30 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

C:\Users\A609272\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

# Problem No 11-93 Page 471 Douglas

In [1]:
import pandas as pd
df1=pd.read_excel('Automobile Purchase Data.xlsx')
df1

    Income  Age  Purchased?
0    45000    2           0
1    40000    4           0
2    60000    3           1
3    50000    2           1
4    55000    2           0
5    50000    5           1
6    35000    7           1
7    65000    2           1
8    53000    2           0
9    48000    1           0
10   37000    5           1
11   31000    7           1
12   40000    4           1
13   75000    2           0
14   43000    9           1
15   49000    2           0
16   37500    4           1
17   71000    1           0
18   34000    5           0
19   27000    6           0

In [2]:
x=df1[['Income','Age']]
y=df1['Purchased?']
import statsmodels.api as sm
x1=sm.add_constant(x)
logit_model=sm.Logit(y,x1)
result=logit_model.fit()
print(result.summary())

C:\Users\A609272\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Optimization terminated successfully.
         Current function value: 0.527038
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:             Purchased?   No. Observations:                   20
Model:                          Logit   Df Residuals:                       17
Method:                           MLE   Df Model:                            2
Date:                Thu, 09 Jan 2020   Pseudo R-squ.:                  0.2396
Time:                        11:04:02   Log-Likelihood:                -10.541
converged:                       True   LL-Null:                       -13.863
Covariance Type:            nonrobust   LLR p-value:                   0.03607
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -7.0471      4.674     -1.508      0.132     -16.208       2.114
Income      7.382e-05   6.37e-05      1.159      0.247   -5.11e-05       0.000
Age            0.9879      0.527      1.873      0.061      -0.046       2.022
==============================================================================

In [34]:
import numpy as np
a=-7.0471
b=0.00074
c=-0.9879
d=a+b*45000+c
e=np.exp(d)
f=1+e
g=e/f
g

0.9999999999893451

In [24]:
d1=a+b*45000+c*(5.5)
e1=np.exp(d1)
f1=1+e1
g1=e1/f1
g1

0.999999999091794

In [23]:
g/g1

0.9999999994523037